@import 'bourbon/_bourbon.scss';
@import 'variables.scss';

body {
  background-color: $myBackground;
  font-family: $helvetica-font-family;
}

  h1 {
    font-variant: small-caps;
    font-family: $futura-font-family;
    font-size: 36px;
    margin-bottom: 5px;
  }
  h2 {
    font-family: $futura-font-family;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .hidden {
    visibility: hidden;
  }
  .hide {
    display: none;
  }
  a {
    text-decoration: none;
    color: $myRed;
  }
      

.headline { 
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: $myRed;
  text-align: left;
  padding-left: 20px;
    h1 {
      color: $myBackground;
    }

  #links {
     img {
      height: 30px;
      width: 30px;
     }
  }
}
.about {
  position: absolute;
  top: 200px;
  width: 100%;
}
.bio {
  font-family: $futura-font-family;
  margin-left: 20px;
  width: 80%;
  text-align: left;
  color: $myBlue;
}
.nav {
  padding: 20px;
  .nav-item {
    cursor: pointer;
    display: inline-block;
    font-family: $futura-font-family;
    font-size: 16px;
    text-transform: uppercase;
    color: $myBlue;
    padding: 10px;
    letter-spacing: 0.89px;
    background: transparent;
    &.selected {
      border-bottom: 3px solid $myBlue;
    }
  }
  @media screen and (max-width: 500px) {
    padding: 10px;
    .nav-item {
      padding: 5px;
      font-size: 12px;
    }
  }
}
.timeline {
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 2px);
    height: 100%;
    width: 4px;
    background: $myBlue;
  }
  .timeline-block {
    font-family: $futura-font-family;
    color: $myBlue;
    font-size: 14px;
    width: 50%;
    text-align: right;
    &:nth-child(even){
      margin-left: 50%;
      text-align: left;
    }
    .timeline-content {
      padding: 20px;
      &::before{
        content: '';
        position: absolute;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: $myBlue;
        left: calc(50% - 8px);
        visibility: inherit;
      }
    }

    /*animations*/
    .timeline-text {
      display: block;
      
      &.slide{
        animation-name: slideUp;
        -webkit-animation-name: slideUp;  

        animation-duration: 1s; 
        -webkit-animation-duration: 1s;

        animation-timing-function: ease;  
        -webkit-animation-timing-function: ease;

        visibility: visible !important;     
      }
    }


  }
}

@keyframes slideUp {
  0% {
    transform: translateY(150%);
  }   
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateY(150%);
  }   
  100% {
    -webkit-transform: translateY(0%);
  }
}