@import 'bourbon/_bourbon.scss';
@import 'variables.scss';

body {
  background-color: $myBackground;
}
.headline { 
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: $myRed;
  text-align: left;
  padding-left: 20px;
    h1 {
      font-variant: small-caps;
      color: $myBackground;
      font-family: $futura-font-family;
      font-size: 36px;
      margin-bottom: 5px;
    }

  #links {
     img {
      height: 30px;
      width: 30px;
     }
  }
  .resume-link {
    font-size: 20px;
     background-color: $myBackground;
     padding: 5px;
    a {
     text-decoration: none;
    }
  }
}

.main p {
  margin: 5px;
}
