.timeline {
  position: relative;
  padding: 30px 10px 50px 50px;
  font-family: 'Gorditas', Arial, sans-serif;
  list-style-type: none; }
  .timeline .event {
    margin-bottom: 150px;
    padding-right: 40px; }
  .timeline .thumb {
    position: relative;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 8px #41838e, 0 1px 1px rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    border-radius: 50%; }
    .timeline .thumb span {
      color: #41838e;
      width: 100%;
      text-align: center;
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      position: absolute;
      bottom: -30px; }
    .timeline .thumb.scotland {
      background-image: url(/images/timeline-logos/scotland.jpg);
      background-position: center; }
    .timeline .thumb.santa-barbara {
      background-image: url(/images/timeline-logos/santa-barbara.jpg);
      background-position: center; }
    .timeline .thumb.michigan {
      background-image: url(/images/timeline-logos/michigan.gif);
      background-position: center; }
  .timeline .content {
    position: absolute;
    left: 150px; }

.timeline:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 165px;
  background-color: #026873; }
