<div class="headline">
	<h1>Julie Nisbet</h1>
	<div id="links">
		<a href="https://github.com/julienisbet"><img src="images/logos/github.png"></a>
		<a href="http://www.linkedin.com/in/jmnisbet"><img src="images/logos/linkedin.png"></a>
		<a href="http://julesnisbet.tumblr.com/"><img src="images/logos/tumblr.png"></a>
		<a href="http://www.instagram.com/juleslaroo"><img src="images/logos/instagram.png"></a>
		<a href="http://www.twitter.com/julesnisbet"><img src="images/logos/twitter.png"></a>
		<a href="resume.pdf"><img src="images/logos/resume.png"></a>
	</div>
</div>
<div class="timeline">
	<div class="timeline-block">
		<div class="timeline-content"><span class="timeline-text">1982: Born in Glasgow, Scotland -- I still visit once a year with my dad to hike.</span></div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content"><span class="timeline-text">1991: Move to Santa Barbara, CA and for the first time have more than 4 channels to watch on TV. Read some of my TV blogs here.</span></div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">2000: Visit Ann Arbor, MI on a recruiting trip on a beautiful spring weekend. 2 days later, I sign my LOI. Most Saturdays in the fall, you can find me watching Michigan Football.</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				2003: Become a US Citizen a full year later than the rest of my family after accidentally being denied due to trying to reschedule the swearing in ceremony. Don't mess with the Department of Homeland Security.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				2004: Graduate from Michigan with a degree in Mathematics and a minor in Statistics on a freezing cold Saturday in April.
			</span>	
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				2004: Hired as a SAS Programmer at Thomson in a division that is now owned by IBM, was once called Systemetrics but has always been the lead contractor for the Healthcare Cost and Utilization Project funded by the Agency for Healthcare Research and Quality.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				2008: Move to Boston for Business School.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				2010: Graduate from Business School and start working at Next Street with the hopes of saving the world one Excel Spreadsheets at a time.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				Jan, 2011: The Boston Globe starts tracking the snow fall as compared to Shaq’s height.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				Feb, 2011: My niece, Devon Alexandria Fitzgibbons is born.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				Sep 2011: The one-two punch of my niece and 7 feet of snow in Boston convinces me to move back to California
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				March 2013: My nephew Robbie Fitzgibbons is born.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				March 2013: After a year of working in tech, I decide that I need to learn how the sausage is made. I get accepted into Dev Bootcamp and begin in March, 2013.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				June 2013: My first coding job! I begin working for my old boss on his new startup Vulume.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				2014: My second coding job at NeonMob! 
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				June 2015: Move back to Santa Barbara
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				July 2015: Adopt an adorable piuppy called Mikey who I subsequentyly rename Ben Donich, aka, Benny. He’s named after a mountain in Scotland, but I’m sure you already knew that. Pics.
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				June 2016: Start a non-profit called EqualiTech with my brother in law to bring technology to a low-income part of Goleta
			</span>
		</div>
	</div>
	<div class="timeline-block">
		<div class="timeline-content">
			<span class="timeline-text">
				Sept 2016: NeonMob decides to outsource its development to India to save money. We amicably part ways.
			</span>
		</div>
	</div>
</div>