<div class="headline">
	<h1>Julie Nisbet</h1>
	<div id="links">
		<a href="https://github.com/julienisbet"><img src="images/logos/github.png"></a>
		<a href="http://www.linkedin.com/in/jmnisbet"><img src="images/logos/linkedin.png"></a>
		<a href="http://julesnisbet.tumblr.com/"><img src="images/logos/tumblr.png"></a>
		<a href="http://www.instagram.com/juleslaroo"><img src="images/logos/instagram.png"></a>
		<a href="http://www.twitter.com/julesnisbet"><img src="images/logos/twitter.png"></a>
		<a href="resume.pdf"><img src="images/logos/resume.png"></a>
	</div>
</div>  