<section id="home" data-type="background" data-speed="2">                            
  <div class="headline">
    <h2>Julie Nisbet</h2>
    MBA Turned Web Developer<br>
    <a href="https://github.com/julienisbet"><img src="images/logos/github.png"></a>
    <a href="http://www.linkedin.com/in/jmnisbet"><img src="images/logos/linked-in-black.png"></a>
    <a href="http://www.twitter.com/julesnisbet"><img src="images/logos/twitter.png"></a>
    <div class='resume-link'><a href="resume">Old School Resume</a></div>
  </div>  
</section>