<div class="headline">
	<h1>Julie Nisbet</h1>
	<div id="links">
		<a href="https://github.com/julienisbet" target="_blank"><img src="images/logos/github.png"></a>
		<a href="http://www.linkedin.com/in/jmnisbet" target="_blank"><img src="images/logos/linkedin.png"></a>
		<a href="http://julesnisbet.tumblr.com/" target="_blank"><img src="images/logos/tumblr.png"></a>
		<a href="http://www.instagram.com/juleslaroo" target="_blank"><img src="images/logos/instagram.png"></a>
		<a href="http://www.twitter.com/julesnisbet" target="_blank"><img src="images/logos/twitter.png"></a>
		<a href="resume.pdf" target="_blank"><img src="images/logos/resume.png"></a>
	</div>
</div>
<div class="about">
	<div class="nav">
		<div class="nav-item selected" id="nav-link-bio">My Bio</div>
		<div class="nav-item" id="nav-link-timeline">My Timeline</div>
	</div>
	<div class="bio">
		<h2>Web Developer since 2013, MBA since 2010, Data Analyst since 2004, American since 2003, Human since 1982.</h2>
		<div>I value clean code, beautiful design and thorough testing. Full-stack experience includes Python/Django, AngularJS, Ruby/Rails, HTML/CSS plus a little NodeJS and Swift.</div>
	</div>
	<div class="timeline hidden">
		<div class="timeline-block">
			<div class="timeline-content"><span class="timeline-text">1982: Born in Glasgow, Scotland -- I still visit once a year with my dad to hike.</span></div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content"><span class="timeline-text">1991: Move to Santa Barbara, CA and for the first time have more than 4 channels to watch on TV.</span></div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">2000: Visit Ann Arbor, MI on a recruiting trip on a beautiful spring weekend. 2 days later, I sign my LOI. Most Saturdays in the fall, you can find me watching Michigan Football.</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					2003: Become a US Citizen a full year later than the rest of my family. Its a long story.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					2004: Graduate from Michigan with a degree in Mathematics and a minor in Statistics on a freezing cold Saturday in April.
				</span>	
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					2004: Hired as a SAS Programmer at Thomson Medstat, which became Thomson Reuters, in a division that is now owned by IBM, was once called Systemetrics but has always been and still is the lead contractor for the <a href="https://www.hcup-us.ahrq.gov/" target="_blank">Healthcare Cost and Utilization Project</a> funded by the Agency for Healthcare Research and Quality.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					2008: Move to Boston for Business School.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					2010: Graduate from Business School and start working at <a href="http://www.nextstreet.com" target="_blank"> Next Street</a> with the hopes of saving the world one Excel Spreadsheets at a time.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					Jan, 2011: The Boston Globe starts tracking the snow fall as compared to Shaq’s <a href="/images/shaq.jpg" target="_blank">height</a>.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					Feb, 2011: My niece, Devon Alexandria Fitzgibbons is born.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					Sep 2011: The one-two punch of my niece and 7 feet of snow in Boston convinces me to move back to California
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					Jan 2012: I start working as a Business Analyst then as an Operations Manager for Deem Offers, a division of Rearden Commerce and a Groupon competitor (it was the height of the daily deals phenomenom -- Groupon had recently turned down a $6B takeover offer from Google).
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					March 2013: My nephew Robbie Fitzgibbons is born.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					March 2013: After a year of working in tech, I decide that I need to learn how the sausage is made. I get accepted into Dev Bootcamp and begin in March, 2013.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					June 2013: After DBC, I'm not sure if I want to merge my business side and technical side into a career in Product Management or get a job as a developer. I begin working for my old boss on his new startup <a href="http://www.vulume.com" target="_blank">Vulume</a> where I'm offered the opportunity of doing both but since we're tiny, I end up coding all the time (and loving it).
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					December 2013: Vulume Beta launches for the public.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					March 2014: After 9 awesome months at Vulume, I start a new job at <a href="http://www.neonmob.com" target="_blank">NeonMob</a> where I learn that art can be a learned skill, not just a natural talent.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					June 2015: Because the <a href="http://www.rentistoodamnhigh.org/" target="_blank">rent is too damn high</a>, I move back to Santa Barbara, continuing to work for NeonMob remotely.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					July 2015: Adopt an adorable puppy whom I name Ben Donich, aka, Benny. He’s named after a mountain in Scotland, but I’m sure you already knew that.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					June 2016: Start a non-profit called <a href="http://www.equalitech.org" target="_blank">EqualiTech</a> with my brother in law to bring technology to a low-income part of Goleta.
				</span>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-content">
				<span class="timeline-text">
					Sept 2016: NeonMob decides to outsource its development to India to save money and we amicably part ways. I take a well needed break, go to Scotland with my dad, and work on the non-profit's website and 501c3 status application.  I am now looking for my next challenge.
				</span>
			</div>
		</div>
	</div>
</div>