<div class='resume'>
  <div class='main-header'>Julie Nisbet</div>
  <ul class='nav'><li><a href="#experience">Experience</a></li><li><a href="#education">Education</a></li><li><a href="#tech">Tech</a></li></ul>
  <h2 id='experience'>Experience</h2>
  <div class='row'>
    <div class='company'> NeonMob (<a target="_blank" href="https://www.neonmob.com">www.neonmob.com</a>  ) </div>
    <div class='title'> Full Stack Web Developer </div>
    <div class='location'> San Francisco, CA </div>
    <div class='dates'> 2013 - Sept 2016 </div>
    <ul>
      <li>Core member of small team (ranging from 3 to 6 employees during the course of my employment) responsible for developing and maintaining NeonMob, a platform for collecting and trading digital artwork</li>
      <li>Tech Stack: Python, Django, Django REST Framework, AngularJS, PostgreSQL, MongoDB, REDIS, HTML/CSS, LESS plus a little sprinkle of NodeJS and Swift</li>
    </ul>
  </div>
  <div class='row'>
    <div class='company'> Vulume, Inc (<a target="_blank" href="https://www.vulume.com">www.vulume.com</a>) </div>
    <div class='title'> Full Stack Web Developer </div>
    <div class='location'> San Francisco, CA </div>
    <div class='dates'> June 2013 - March 2013 </div>
    <ul>
      <li>Core member of small product team responsible for developing and maintaining vulume.com, a collaboration and project management tool for Built Environment professionals</li>
      <li>Tech Stack: Ruby, Rails, JavaScript, Coffeescript, jQuery, PostgreSQL, HTML/CSS</li>
    </ul>
  </div>
  <div class='row'>
    <div class='company'>Rearden Commerce</div>
    <div class='title'>Manager of Content Operations, Deem Offers</div>
    <div class='location'> San Francisco, CA </div>
    <div class='dates'>September 2012 - February 2013</div>
    <ul>
    <li>Managed the operations team (6 content managers, programming manager and over 20 freelance writers and designers) for Rearden's suite of daily deal websites including homerun.com and partner sites for several large financial insitutions.</li>
    </ul>
      <div class='title'>Senior Business Operations Analyst, Deem Offers</div>
      <div class='location'> San Francisco, CA </div>
      <div class='dates'>January 2012 – August 2012</div>
    <ul>
    <li>Managed the redesign and implementation of Homerun’s legacy salesforce.com system to better align with post-acquisition business needs. This project required a full needs assessment across 60 users in five departments and resulted in an overhaul of the system’s data structure to adjust from serving the needs of a single daily deals site to a network of deal sites across multiple partners. Also managed the development of Apex triggers by an external development team in India</li>
    <li>Developed metrics for managing deal inventory based on internal business rules and partner restrictions to inform both the sales team of inventory requirement gaps and the programming team of available inventory</li>
    </ul>
  </div>
  <div class='row break'>
    <div class='company'>Next Street Financial</div>
    <div class='title'>Senior Strategy Analyst</div>
    Boston, MA
    August, 2010 – January 2012
    <ul>
    <li>Developed annual financial forecasts for core portfolio clients (high performing urban businesses with annual revenues of $10M - $50M) </li>
    <li>Compiled monthly budget variance and business unit profitability reports for review with business owners</li> 
    <li>Developed and managed process for tracking future revenue to ensure accurate financial forecasts</li>
    <li>Developed a variety of management tools using Excel to analyze profitability and key performance indicators by project  and business unit to identify areas of over or under delivery </li>
    <li>Conducted ad-hoc analyses for core clients including strategic staffing models, weekly business development dashboards and profitability forecasts </li>
    </ul>
  </div>
  <div class='row'>
    <div class='company'>Thomson Reuters (Previously Thomson Healthcare)</div>
    <div class='title'>Senior Programmer / Analyst</div>
    2004 – 2008
    Santa Barbara, CA
    <ul>
      <li>Managed the creation of patient-level health care databases and related software tools through the federally funded Healthcare Cost and Utilization Project</li>
      <li>Developed core analytical skills including a strong foundation in relational databases, attention to detail and the ability to break-down complex problems into actionable solutions</li>
      <li>Managed the staff and budget for the creation of the 2006 Kids’ Inpatient Database and its supporting documentation which was released earlier than scheduled and under-budget</li>
      <li>Lead analyst of a three person processing team responsible for coordinating the data acquisition and programming of HCUP data; exceeded contract goals of delivering processed data to the client within 30 days of receipt</li>
      <li>Redesigned processes for creating public versions of confidential hospital discharge data to allow wider use of the programs; the streamlined process saved approximately 100 programmer hours per year</li>
    </ul>
  </div>
  <h2 id='education'>Education</h2>
  <div class='row'>
    <div class='company'>Boston University Graduate School of Management</div>
    Boston , MA<br>
    MBA / MS Dual Degree, May 2010<br>
    Masters of Business Administration / Masters of Science in Information Systems (Dean’s Scholarship Recipient)
    <ul>
    <li>Dual Concentration: Strategy and Business Analysis / Finance</li>
    <li>Six Sigma Green Belt Certified</li>
    <li>GMAT: 750</li>
    <li>Elective Courses Include: Corporate Finance, Financial Statement Analysis, Strategic Financial Analysis and Design, Modeling in Excel: Optimization and Simulation</li>
  </div>
  <div class='row'>
  <div class='company'>University of Michigan</div>
  <div class='location'>Ann Arbor, MI</div>
  <div class='dates'>Bachelor of Science, Mathematics (Statistics Minor),  April 2004</div>
    <ul>
      <li>Varsity Water Polo Team (Scholarship Athlete 2000-2004, AWCPA All American Honorable Mention, All Conference First Team, Academic All American) </li>
      <li>University of Michigan Athletic Academic Achievement Recipient (2001-2004)</li>
      <li>Big Ten Scholar Athlete Award Recipient (2002-2004)</li>
    </ul>
  </div>
  <h2 id='tech'>Tech</h2>
  
  <ul>
    <li>Python, Django, Django REST Framework, AngularJS, Swift, NodeJS Ruby, Rails, Sinatra, Javascript, jQuery, postgreSQL, HTML/CSS</li>
    <li>Highly proficient in Microsoft Office, particularly Excel, Word and PowerPoint.</li>
    <li>Strong knowledge and understanding of the Salesforce.com platform</li> 
    <li>Five years of SAS programming experience using Base SAS, Stat, Connect, and SAS/Graph. </li>
    <li>Proven ability and desire to learn new programs / systems quickly</li>
  </ul>
</div>