<ul class="timeline">     
    <li class="event">
      <div class="thumb scotland"><span>1982-1991</span></div>
      <div class="content">
          <div class="content-inner">
              <h3>Bonny Scotland</h3>
              <p>Spent the first 9 years of my life in Bonny Scotland attending the school featured in Trainspotting and wearing a horrible brown uniform</p>
          </div>
      </div>
    </li>
    <li class="event">
      <div class="thumb santa-barbara"><span>1991-2000</span></div>
      <div class="content">
          <div class="content-inner">
              <h3>Santa Barbara</h3>
              <p>Spent the first 9 years of my life in Bonny Scotland attending the school featured in Trainspotting and wearing a horrible brown uniform</p>
          </div>
      </div>
    </li>

    <li class="event">
      <div class="thumb michigan"><span>1991-2000</span></div>
      <div class="content">
          <div class="content-inner">
              <h3>Michigan</h3>
              <p>Spent the first 9 years of my life in Bonny Scotland attending the school featured in Trainspotting and wearing a horrible brown uniform</p>
          </div>
      </div>
    </li>


</ul>